* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-alert {
  height: 60px !important;
}

.ant-modal-title {
  font-size: 25px !important;
  text-transform: uppercase;
}

.ant-modal {
  top: 130px !important;
}

/* .ant-modal-content {
  overflow: overlay;
  height: 360px !important;
} */

.custom-modal-1 .ant-modal-content {
  height: 230px !important;
  overflow: overlay;
}

.custom-modal-1 .ant-modal-body {
  height: 100px !important;
}

.custom-modal-2 .ant-modal-content {
  height: 360px !important;
  overflow: overlay;
}

/* .custom-modal-2 .ant-modal-body {
  height: 100px !important;
} */

/* .ant-modal-body {
  height: 240px !important;
} */



.ant-input {
  height: 45px;
}


.ant-dropdown-trigger{
  /* background-color: black !important; */
}

.ant-dropdown-open{
  background-color: black !important;
}